<!DOCTYPE html>
<html>
  <head>
    <title>RailsEth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <main data-controller="sessions" class="container mx-auto mt-28 px-5 flex-col">
        <p class="notice" style="color:DodgerBlue"><%= notice %></p>
        <p class="alert" style="color:Tomato"><%= alert %></p>
        <%= yield %>
        <%= debug current_user if logged_in? %>
        <%= debug session.to_h %>
      </main>
  </body>
</html>